.field{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875rem;
    width: 90%;
    position: relative;
}
.field label{
    font-weight: 700;
    margin-bottom: 0.3125rem;
}
.check_Box{
    min-width: 6.25rem;
    height: 3.125rem;
    background-color: #F5F6F7;
    font-size: 0.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: #cececf 0.0156rem solid;
    border-radius: 0.625rem;
    padding: 0.25rem;
    transition: border-color .4s;
}
.check_Box:hover{
    cursor: pointer;
    border-color: var(--main_color);
}
.radio_input{
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.625rem;
}

.check_Box label:hover{
    cursor: pointer;
}

.collection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collection .field{
    width: 49%;
}
.SecondCollection{
    display: flex;
    justify-content: start;
    align-items: center;
}
.SecondCollection h6{
    margin-top: 0.5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}
.SecondCollection label{
    margin: .5rem .2rem;
    font-weight: 200;
}
.SecondCollection span{
    margin-left: .5rem;
    font-weight: 700;
    color: black;
}

.save_btn,.save_btn_question,.Ediet_btn{
    background-color: var(--main_color);
    color: white;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.9375rem;
    font-weight: 700;
    min-width: 6.875rem;
    transition:all .3s;
    min-width: 9.375rem
}
.save_btn:hover{
    background-color: rgb(9, 75, 161);
    transform: translateX(0.3125rem);
}

.save_btn_question{
    background-color: var(--darker_main_color);
    margin-top: 40px;
}
.Ediet_btn{
    background-color: transparent;
    border: 1px solid var(--darker_main_color);
    margin-top: 40px;
    color: var(--darker_main_color);
}
.Ediet_btn:hover{
    background-color: var(--darker_main_color);
    transform: translateX(-0.3125rem);
    color: white;
}
.save_btn_question:hover{
    background-color: transparent;
    border: 1px solid var(--darker_main_color);
    color: var(--darker_main_color);
    transform: translateX(0.3125rem);
}
.delete_btn{
    min-width: 7.5rem;
    font-weight: 600;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid var(--font_color);
    color: var(--font_color);
    opacity: .7;
    transition: all .3s;

}
.delete_btn:hover{
    color: red;
    border: 0.0625rem solid red;
    opacity: 1;
    transform: translateX(-0.3125rem);
}

.select_group{
    width: 100%;
}
.field h4{
    font-size: 1.25rem;
    font-weight: 700;
}

.select_category{
    width: 100%;
}
.skill_field{
    padding: 50px 30px ;
    width: 100%;
    text-align: center;
    border: 1px dashed var(--main_color);
    background-color: var(--vanilla);
    margin: 20px 0;
    border-radius: 10px;
    position: relative;
}
.add_skill_btn{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
    color: var(--dark_white);
    transition: all .4s;
}
.add_skill_btn:hover{
    color: black;
    scale: 1.05;
}

.red_circle,.yellow_circle,.green_circle{
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.125rem;
    border-radius: 50%;
}
.red_circle{
    background-color: red;
}
.yellow_circle{
    background-color: orange;

}
.green_circle{
    background-color: rgb(7, 176, 7);
}
.skill_color{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px 10px 0;
}


.text_area_desc{
    width: 100%;
    margin-top: 0.625rem;
}
.text_area_desc textarea{
    border-radius: 0.625rem;
    width: 100%;
    padding: 0.625rem;
    outline: none;
    border: 0.0625rem solid rgb(162, 162, 162);
}

.location_map{
    height: 60vh;
    width:100%;
}

/* __________________________________________________questions___________________________________________________________________ */

.questions{
    padding: 50px 10px 10px 10px;
    border-radius: 10px;
    background-color: var(--sky);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.163);
    text-align: center;
    position: relative;
}
.questions_controller{
    padding: 10px;
    position: absolute;
    left: 10px;
    top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.232);
    border-radius:5px;
}
.add_question_icon,.remove_questions{
    font-size:25px;
    margin-inline: 10px;
    color: var(--darker_main_color);
    cursor: pointer;
    transition: all .3s;
}

.add_question_icon:hover{
    scale: 1.1;
    color: black;
    transform: rotate(90deg);
}
.remove_questions:hover{
    scale: 1.1;
    transform: rotate(10deg);
    color: red;
}
.questions span{
    font-weight: 700;
    font-size: 20px;
    color: black;
}


@media screen and (max-width:600px) {
    .field h4{
        margin: 0;
        text-align: center;
    }
}


@media screen and (max-width:500px) {
    .collection,.SecondCollection{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    .SecondCollection div{
        width: 100%;
    }
    .collection div,.collection .field{
        width: 100%;
    }
    .career_label{
        min-width:100%;
    }
}