.main_container{
    width: 100%; /*F5F6F7*/
    background-color: #F5F6F7;
    padding-bottom: 30px;
}
.main_container .headerBox{
    padding-top: 1rem;
}
.main_container .mainHeader{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 2rem;
}
.main_container span {
    color: var(--main_color);
}
.main_container .FormContainer{
    width: 60%;
    margin: auto;
    background-color: white;
    border: solid rgb(220, 219, 219) 0.5px;
    padding: 1.5rem 2rem   ;
}
.FormContainer .subHeader{
    font-size: 18px;
    font-weight: 700;
}

