.main_container{
    width: 100%;
    background-color: #F5F6F7;
    padding-bottom: 1.875rem;
}
.main_container .headerBox{
    padding-top: 1rem;
}
.main_container .mainHeader{
    font-size: 1.875rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
}
.main_container span {
    color: var(--main_color);
    font-weight: 700;
}
.main_container .FormContainer{
    width: 75%;
    margin: auto;
    background-color: white;
    border: solid rgb(220, 219, 219) 0.5px;
    padding: 1.5rem 2rem   ;
    border-radius: 10px;
}
.FormContainer .subHeader{
    font-size: 1.125rem;
    font-weight: 700;
}

@media screen and (max-width:1100px) {
    .main_container .FormContainer{
        width: 90%;
    }
}
@media screen and (max-width:900px) {
    .main_container .FormContainer{
        width: 95%;
    }
}
