/* ________________________________________________board_______________________________________________________ */
.board_container{
    min-height: 100vh;
    padding: 2.5rem;
    justify-content: center;
    grid-row-gap: 2.5rem;
}
/* _______________________________________________column____________________________________________________ */
.stage_board{
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    border-radius: 0.625rem;
    min-width: 18.75rem;
    min-height: 80vh;
    padding: 0.625rem;
    background-color:white;
    box-shadow: 0 0 0.3125rem rgb(0, 110, 255);
    }
.stage_board h3{
    text-align: center;
    font-size: 1.625rem;
    margin: 0.3125rem;
    font-weight: 700;
}
.stage_board::-webkit-scrollbar{
    display: none;
}
.content{
    padding: 0.625rem;
    padding-top: 0;
    height:50vh;
    border-radius: 1.875rem;
    margin: 1.25rem 0;
    transition: background-color .4s ease;
}

/* _____________________________________________________card_________________________________________________________ */
.card_container{
    cursor: pointer;
    margin: 2.5rem 0;
    transition: all .5s;
    padding: 0.625rem;
    border-radius: 0.625rem;
}
.card_container:hover{
    background-color: var(--vanilla);
    scale: 1.02;
}
.emp_id{
    font-weight: 600;
    color: var(--dark_white);
}
.emp_pic{
    width: 3.125rem;
    border-radius: 50%;
    margin-inline: 0.625rem;
}
.emp_pic img{
    width: 100%;
    border-radius: 50%;
}
.card_content{
    display: flex;
    align-items: center;
}
.caption h5{
    margin: 0;
    font-weight: 700;
    font-weight: 37.5rem;
    font-size: 1.25rem;
}
.green{
    background-color: green;
}
.black{
    background-color: black;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}

.refuse_icon,.eye_controllers{
    font-size: 1.25rem;
    color: red;
    transition: transform .4s;
    cursor:auto;
    margin-inline: 10px;

}
.eye_controllers{
    color: var(--dark_white);
}
.accept_icon{
    font-size: 1.5625rem;
    color: var(--main_color);
    transition: transform .4s;
    cursor:auto;
    margin-inline: 10px;
}
.refuse_icon:hover,.accept_icon:hover,.eye_controllers:hover{
transform: scale(1.1);
}

