.profile_layer{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    z-index: -1;
     background-color: #F1F1F1;
}

.container{
    min-height: 100vh;
    width: 100vw;
    margin-top: 0.625rem;
    position: relative;
}
.box{
    background-color: white;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.249);
    padding: 0.625rem;
    min-height: 12.5rem;
}
.consumption{
    height:31.25rem;
}

.plan{
    background-color: #006CFF;
    color: white;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.price{
    color: rgb(237, 235, 235);
}
.plan_title h6{
    margin: 0;
    font-weight: 600;
}
.plan_title span{
    font-size: 0.875rem;
    color: rgb(221, 221, 221);
}
.crown{
    color: var(--golden);
}
.plan_date{
    color: rgb(221, 221, 221) !important;
    margin-left: 1.875rem;
}
.plan_btns{
    display: flex;
    justify-content: space-between;
}
.recharge_btn{
    background-color: white;
    padding: 0.5rem 0.625rem;
    border-radius: 0.3125rem;
    font-size: 0.875rem;
    color: #006CFF;
    font-weight: 700;
    transition: scale .4s;
}
.recharge_btn:hover{
    scale: 1.05;
}
.upgrade_btn{
    background-color: rgba(255, 255, 255, 0.415);
    padding-inline: 0.75rem;
    border-radius: 0.3125rem;
    transition: all .4s;
}
.upgrade_btn:hover{
    background-color: white;
    transform: translateY(-0.3125rem);
    color: var(--main_color);
}
.sideBar{
    position: fixed;
    left: 0.625rem;
    top: 52%;
    transform: translateY(-50%);
    border-radius: 0.625rem;
    padding: 0.625rem 0.125rem;
    background-color: white;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.347);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    transition: all 1s;
}

.company_header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.company_header img{
    width: 3.125rem;
    margin-right: 0.625rem;
    border-radius: 0.625rem;
}
.company_header h3{
    font-size:1.25rem;
    font-weight: 700;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .5s;
}
.sideBar ul{
    padding: 0;
}
.sideBar ul li{
    margin: 0.625rem 0.3125rem;
    font-size: 1.0625rem;
    cursor: pointer;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s;
}
.sideBar ul li:hover{
    background-color: var(--vanilla);
}
.sideBar ul li svg{
    margin-right: 0.625rem;
    font-size: 1.25rem;
    color: var(--light);
}

.sideBar ul li h6{
    font-size: 1rem;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .6s;
}

.sideBar:hover ul li h6{
    width:6.25rem;
    opacity: 1;
}
.sideBar:hover .company_header h3{
    width:6.25rem;
    opacity: 1;
}
.sideBar:hover{
    padding: 0.625rem 1.25rem; 
}
.employee_table{
    width: 100%;
    background-color: white;
    padding: 3.125rem;
}
.table_header{
    background-color: #E0E6ED;
    width: 100%;
    color: var(--main_color);
}
.employee_table th{
    text-align: center;
    padding: 0.3125rem;
}

.active_link svg{
    color: var(--main_color) !important;
}
.sideBar:hover .active_link{
    background-color: var(--vanilla);
}

@media screen and (max-width:670px) {
    .sideBar{
     position: unset;
     margin-top: 20px;
     flex-direction: row;
     transform: translateY(0);
    }
    .sideBar ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .sideBar:hover ul li h6,.sideBar:hover .company_header h3{
        display: none;
    }
    .sideBar ul li:hover{
        background-color:transparent;
        scale: 1.1;
    }
    .sideBar:hover .active_link{
        background-color: transparent;
    }
}

@media screen and (max-width:440px) {
    .company_header{
        display: none;
    }
}
@media screen and (max-width:385px) {
    .sideBar ul{
        flex-wrap: wrap;
    }
}