/* media section */
.company_info_container{
    margin-top: 40px;
    margin-bottom: 50px;
    background-color: white;
    min-height: 100vh;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.31);
    overflow: hidden;   
}
.main_title{
    font-size: 20px;
    font-weight: 700;
}

.company_old_logo{
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.268);
    border-radius: 10px;
    padding: 20px;
}
.company_old_logo img{
    object-fit: cover;
}
.change_logo_btn,.delete_btn{
    border: 1px solid var(--main_color);
    color: var(--main_color);
    padding: 10px;
    border-radius: 5px;
    min-width: 120px;
    font-weight: 600;
    transition: all .4s;
}

.delete_btn{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--font_color);
    color: var(--font_color);
    opacity: .7;

}

.change_logo_btn:hover{
    border: 1px solid transparent;
    color: white;
    background-color: var(--main_color);
    scale: 1.1;
}
.delete_btn:hover{
    color: red;
    border: 1px solid red;
    opacity: 1;
    scale: 1.1;
}
.company_old_cover{
    width: 90%;
    border-radius: 10px;
}
.company_old_cover img{
    object-fit: cover;
    border-radius: 10px;
}
.cover_section{
    padding: 20px 0;
    border-top: 1px solid rgb(212, 212, 212);
}

/* info section */
