.input_faild{
    display: flex;
    flex-direction: column;
    margin: 1.25rem 0;
    position: relative;
}
.input_faild label{
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1.125rem;
}
.submit_btn{
    background-color: var(--darker_main_color);
    padding: 0.625rem;
    color: white;
    border-radius: 0.625rem;
    transition: all .5s;
    min-width: 9.375rem;
}
.submit_btn:hover{
    transform: translateX(0.3125rem);
    background-color: var(--main_color);
    color: white;
}


@media screen and (max-width:390px) {
    .input_faild{
        margin: 40px 0;
    }
}

