.register_form{
    background-color: var(--theme_color);
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.432);
    border-radius: 0.9375rem;
    padding: 50px 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.field{
    width: 100%;
    position: relative;
}
.field input{
    width: 100%;
}
.register_span{
        font-size: 0.875rem;
        font-weight: 700;
}
.register_spana{
    color: var(--darker_main_color);
}
.register_btn{
    width: 80%;
    background-color: var(--darker_main_color);
    color: white;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.9375rem;
    margin: 0.625rem 0;
    transition: background-color .3s;
}
.register_btn:hover{
    background-color:rgb(1, 80, 182);
}

.select_industry{
    width: 100%;
}

@media screen and (max-width:1200px) {
    .register_form{
        width: 88%;
    }
}
@media screen and (max-width:270px) {
    .register_form{
        width: 100%;
    }
}
