/*------------------------- header-------------------------------------- */
.company_header{
    min-height: 100vh;
    background-image: url(../../images/company_header.jpg);
    background-size: cover;
    position: relative;
}
.company_header_layer{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:rgb(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
}
.capture{
    text-align: center;
}
.capture h2{
    font-size: 2.5rem;
    font-weight: 700;
}
.company_header_p{
    color: var(--off_white);
}
.scroll_down{
    position: absolute;
    width: 1.875rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    border: 0.0625rem solid var(--dark_white);
    background-color: transparent;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border .3s;
}
.small_circle{
    background-color: var(--dark_white);
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 50%;
    animation:upDownMove 2s linear ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes upDownMove {
    0%{transform: translateY(0);}
    50%{transform: translateY(0.625rem);}
    100%{transform: translateY(-0.625rem);}
}
.scroll_down:hover{
    border: 0.0625rem solid white;
}
/*------------------------- first section-------------------------------------- */
.first_sec{
    min-height: 100vh;
    margin-top: 3.125rem;
    padding: 2.5rem 0.625rem;
}
.sec_sec{
    background-color: var(--vanilla);
    margin: 3.125rem 0;
    padding: 1.25rem 0.625rem;
}
.first_sec_caption{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

}
.first_sec_caption h3{
    font-size: 2.8125rem;
    font-weight: 700;
}
.first_sec_caption p{
    font-weight: 600;
    margin: 1.875rem 0;
}
.hiring_img{
    width:25rem;
    border-radius: 0.625rem;
}
.hiring_img img{
    border-radius: 0.625rem;
}