/* ------------------------------------------------- top employers section----------------------- */

.top_employers{
    padding:1.25rem;
    background-color:var(--off_white);
}

/* ------------------------------------------------- steps section----------------------- */

.steps{
    padding: 50px;
    position: relative;
}

/* ------------------------------------------------- resume caption section----------------------- */
.resume_caption{
   
    background-color: var(--vanilla);
    min-height: 100vh;
}
.resume_caption_dark{
    min-height: 100vh;
    margin-bottom:3.125rem; ;
}
.circleCheck_icon{
    margin-right: 10px;
}
.resume_caption_container{
    position: relative;
    z-index: 1;
    padding-inline: 1.25rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resume_caption_content{
    padding: 1.875rem;
    border-radius: 1.875rem;
    color: var(--font_color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 31.25rem;
    height: 100%;
    position: relative;
}
.resume_caption_content ul li{
    list-style-type: none;
    margin: 0.3125rem 0;
    color: var(--dark_white);
}
.resume_caption_content h2{
   font-size: 3.125rem;
   font-weight: 700;
   color: var(--main_color);
}
.resume_caption_content p{
   color: var(--dark_white);
   font-weight: 600;
   font-family: var(--jakarta);
}
.resume_caption_img{
  padding: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.resume_caption_img img{
    object-fit: contain;
    border-radius: 0.3125rem;
    border-left: 0.625rem solid var(--main_color);
    border-bottom: 0.625rem solid var(--main_color);
}
.resume_caption_circle{
    position: absolute;
    top:2%;
    right:1%;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    z-index: -1;
}


.resume_caption_circle_two{
    position: absolute;
    bottom:5%;
    left:45%;
    background-color: #f7d85c93;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    z-index:-1;
}

.resume_caption .resume_caption_circle{
    background-color: #ad000076
}
.resume_caption_dark .resume_caption_circle{
    background-color: rgba(50, 109, 187, 0.192)
}



/* ------------------------------------------------- fetured job section----------------------- */
.fearured_job{
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    margin-bottom: 3.125rem;
}

.job{
    border: 0.0625rem solid rgba(100, 100, 100, 0.151);
    border-radius: 1.25rem;
    padding: 1.25rem;
    margin-bottom: 3.125rem;
    transition: border .3s;
}
.job:hover{
    border: 0.0625rem solid var(--main_color);
}
.company_logo{
    width: 3.75rem;
}
.bookmark_icon,.eye_icon{
    font-size: 1rem;
    border-radius: 50%;
    border: 0.0625rem solid rgba(100, 100, 100, 0.151);
    padding: 0.625rem;
    color: var(--main_color);
    cursor: pointer;
    transition: all .3s;
}
.bookmark_icon:hover,.eye_icon:hover{
    background-color: var(--main_color);
    color: white;
}
.bookmark_icon{
    padding: 0.625rem 0.75rem;
}
.job span{
    font-size: 0.875rem;
    color: var(--dark_white);
    font-family: var(--jakarta);
}
.job h4{
    color:var(--font_color);
    font-size:1.125rem;
    font-weight: 600;
    font-family: var(--jakarta);
    margin: 0.625rem 0;

}
.job p{
    font-size: 0.875rem;
    color: var(--dark_white);
    font-weight: 600;
    margin-bottom: 1.875rem;
}
.location_icon{
    margin-right:0.125rem;
    color: var(--main_color);
}
.info span{
    font-size: 0.8125rem;
}




/* ------------------------------------------------- caption section----------------------- */
.caption{
    background-image: url(../../images/bg1.webp);
    background-size: cover;
    background-color: #121B2B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    width: 85vw;
    border-radius: 1.875rem;
    padding-inline:3.125rem;
    margin: auto;
    margin-bottom: 3.125rem;
    color: var(--theme_color);
    text-align: center;
}
.caption h2{
    font-weight: 900;
    font-family: var(--jakarta);
    font-size:2.5rem;
    margin-bottom: 1.875rem;
    color: white;
}
.caption p{
    font-size:1.25rem;
    font-weight: 700;
    margin-bottom: 1.875rem;
    color: var(--dark_white);
}
/* ------------------------------------------------- categories section----------------------- */
.categories{
    margin-bottom: 3.125rem;
    padding-top: 3.125rem;
}
.category{
    margin-bottom: 1.875rem;
    display: flex;
    justify-content: space-between;
    border: 0.0625rem solid var(--off_white);
    border-radius: 1.25rem;
    width:80%;
    cursor: pointer;
    transition: border .3s;
}
.category h4{
    color: var(--font_color);
    font-size: 1.125rem;
    font-weight: 600;
    font-family: var(--jakarta);
}
.category span{
    color: var(--dark_white);
    font-family: var(--jakarta);
    font-size: 0.8125rem;
}
.category_icon_div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vanilla);
    padding: 25px 15px;
    border-radius: 1.25rem;
    width: 25%;
    transition:  background-color .3s;
}
.category_icon{
    font-size: 2.1875rem;
    color: var(--main_color);
    transition: color .3s;
}
.category_caption{
    padding: 0.625rem;
    text-align: start;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.category:hover{
    border: 1px solid var(--main_color);

}
.category:hover .category_icon_div{
    background-color: var(--main_color);
}
.category:hover .category_icon_div .category_icon{
    color: var(--theme_color);
}

/* ------------------------------------------------- featured_cities section----------------------- */
.featured_cities{
    min-height: 100vh;
    background-color: var(--vanilla);
    padding: 3.125rem;
}


/* ------------------------------------------------- seperation_bg section----------------------- */
.seperation_bg{
    background-image: url(../../images/work\ home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:90vh;
    background-color: yellow;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}
.seperation_bg_layer{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
}
.seperation_bg_caption{
    background-color: rgba(0, 0, 0,.4);
    backdrop-filter: blur(3px);
    height: 100%;
    width: 40%;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.seperation_bg_caption h2{
    color: var(--main_color);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}
.seperation_bg_caption p{
    color: rgb(190, 190, 190);
    font-size: 18px;
    font-family: var(--jakarta);
    text-align: start;
    margin-bottom: 30px;

}

/* ------------------------------------------------- Testimonials section----------------------- */
.Testimonials{
    padding:1.25rem 0.625rem;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

/* ------------------------------------------------- media query section----------------------- */


@media screen and (max-width:768px) {
   .caption{
    width: 95vw;
    padding-inline:0.625rem;
   }
} 
@media screen and (max-width:422px) {
    .resume_caption_content{
        width: 100%;
        text-align: center;
    }
    .resume_caption_content ul{
        text-align: start;
    }
    .resume_caption_content h2{
        font-size:1.875rem;
    }
    .resume_caption_img{
        width: 80%;
      }
    .resume_caption_img img{
         object-fit: cover;
      }
} 
@media screen and (max-width:385px) {
    .caption{
        width:95vw;
        padding:0.625rem 1.25rem;
        height: auto;
       }
     .resume_caption_content{
        min-width: 18.75rem;
    }
     .resume_caption_img{
        width: 100%;
      }
} 
@media screen and (max-width:320px) {
    .caption h2{
        font-size: 1.875rem;
       }
    .caption p{
        font-size: 0.875rem;
       }
     .resume_caption_content{
        min-width: 15.625rem;
    }
    .resume_caption_content h2{
        font-size: 1.25rem;
    }
    .resume_caption_content ul li{
        font-size: 0.875rem;
    }
     .resume_caption_img{
        width: 90%;
      }
} 

