.footer{
    /* background-color: #1e0238; */
    background-color: #F5F5F3;
    color: rgb(0, 0, 0);
    padding-top: 3rem;
    padding-bottom: 3.5rem;
}
.footer_logo{
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 100px;
    
}
.footer_head{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.footer_headTitle{
    color: rgb(0, 0, 0);
}
.links_Box{
    display: flex;
    justify-content: flex-start;
}
.footer_link{
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}
.links_Box .footer_link{
    color: rgb(0, 0, 0);
    display: block;
    margin-bottom: 5px;
}

.footer_link:hover{
    text-decoration: underline !important;
}

.footer_icons{
    padding-bottom: 1rem;
}
