
.job{
    border: 0.0625rem solid rgba(100, 100, 100, 0.151);
    border-radius: 1.25rem;
    padding: 1.25rem;
    margin-bottom: 3.125rem;
    transition: border .3s;
    cursor: pointer;
    position: relative;
}
.grid_height{
   min-height: 8.125rem;
}
.job:hover{
    border: 0.0625rem solid var(--main_color);
}
.header_container{
    display: flex;
    align-items: center;
    min-height: 5rem;
}
.logo_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.company_logo{
    width: 5rem;
}

.job_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.625rem 0.5rem 0.3125rem 0.3125rem;
}
.eye_icon{
    font-size: 1rem;
    border-radius: 50%;
    border: 0.0625rem solid rgba(100, 100, 100, 0.151);
    padding: 0.625rem;
    color: var(--main_color);
    cursor: pointer;
    transition: all .3s;
}
.eye_icon:hover{
    background-color: var(--main_color);
    color: white;
    transform: translateX(0.3125rem);
}
.bookmark_icon{
    padding: 0.625rem 0.75rem;
}
.job_name{
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--font_color);
}
.job h4{
    color:var(--font_color);
    font-size:1.125rem;
    font-weight: 600;
    font-family: var(--jakarta);
    margin: 0.625rem 0;

}
.job p{
    font-size: 0.875rem;
    color: var(--dark_white);
    font-weight: 600;
    margin-bottom: 1.875rem;
}
.location_icon{
    margin-right:0.125rem;
    color: var(--main_color);
}


@media screen and (max-width:260px) {
    .job_icons{
       display:none;
    }
 }