
/* style one */
.icons_div_one{
    font-size: 1.5625rem;
}


.social_icon_type_one,.social_icon_type_two{
    cursor: pointer;
    transition: color .5s;
}
.social_icon_type_one:hover{
    color: var(--main_color);
}

/* style two*/

.social_icon_type_two{
   padding: 0.625rem;
   border: 0.0625rem solid #1f1f1f2f;
   border-radius: 0.3125rem;
   margin-inline: 0.625rem !important;
   transition: all .5s;
}
.fa_face{
    padding-inline:0.8125rem;
}
.icons_div_two{
    justify-content: center;
}
.social_icon_type_two:hover{
    background-color: var(--main_color);
    color:  var(--theme_color);
}