.countUp_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.countUp_icon{
    font-size: 55px;
    color: var(--main_color);
}
.countUp_container h3{
    font-size: 50px;
    margin: 10px 0;
    font-weight: 900;
    font-family: var(--jakarta);
}
.countUp_container p{
    font-weight: 700;
    font-size: 18px;
    color: var(--dark_white);
}