.edu_item{
    display: flex;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.236);
    position: relative;
}
.education_logo{
    width: 4.375rem;
    margin-right: 0.625rem;
}
.education_caption h3{
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
}
.education_caption span{
    display: block;
}
.education_grade{
    font-weight: 700;
    font-size: 0.9375rem;
}