.edu_item{
    display: flex;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.236);
    position: relative;
}
.education_logo{
    width: 70px;
    margin-right: 0.625rem;
}

.education_caption h3{
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
}
.education_caption span{
    display: block;
}
.education_grade{
    font-weight: 700;
    font-size: 0.9375rem;
}

@media screen and (max-width:800px) {
    .education_caption{
        padding-right: 3.125rem;
    }
}
@media screen and (max-width:360px) {
    .edu_item{
        flex-direction: column;
        align-items:  center;
    }
    .education_caption{
        text-align: center;
    }
}