.edu_item{
    display: flex;
    margin: 20px 0;
}
.education_logo{
    width: 4.375rem;
    margin-right: 0.625rem;
}
.education_caption h3{
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
}
.education_caption span{
    display: block;
}
.education_grade{
    font-weight: 700;
    font-size: 0.9375rem;
}