.popup_container,.popup_container_hidden{
    position: fixed;
    bottom:1.875rem;
    right: 0;
    min-width:30%;
    min-height: 100px !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 5;
}
.popup_container_hidden{
    z-index: -1 !important;
}
.popupHeaderSuccess{
    background-color: var(--vanilla);
    border-top: 3px solid rgb(29, 202, 29);
}
.popupHeaderFaild{
    background-color: var(--vanilla);
    border-top: 3px solid red;
}

.success_icon{
    color: rgb(29, 202, 29);
    margin-right: 5px;
    font-size: 16px;
}
.faild_icon{
    color:red;
    margin-right: 5px;
    font-size: 16px;
}

@media screen and (max-width:550px) {
    .popup_container,.popup_container_hidden{
        min-width:70%;
    }  
}