.slider_contianer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider_contnet{
    padding-bottom: 50px;
}
.slider_container_img{
    position: relative;

}
.slider_item{
    height: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.slider_item img{
  height: 100%;
  object-fit: contain;
  border-radius: 30px;
}
.slider_caption{
    background-color:rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    position: absolute;
    bottom:0;
    left:0;
    top: 0;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor:e-resize;
    opacity: 0;
    transition: all 1s;
}
.slider_caption h2{
    font-weight: 900;
    font-family: var(--jakarta);
    color: var(--main_color);
}
.slider_caption span{
    color: var(--dark_white);
    font-weight: 600;
    margin-bottom: 48px;
}

.slider_item:hover .slider_caption{
 opacity: 1;
}
