.job{
    border: 0.0625rem solid rgba(100, 100, 100, 0.151);
    border-radius: 1.25rem;
    padding: 1.25rem;
    margin-bottom: 3.125rem;
    position: relative;
    transition: all .5s;
    box-shadow:0 0 3px rgba(0, 0, 0, 0.26);
}
.job:hover{
    border: 0.0625rem solid var(--main_color);
}
.header_container{
    display: flex;
    align-items: center;
    min-height: 5rem;
}
.logo_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.company_logo{
    width: 5rem;
}
.job_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.625rem 0.5rem 0.3125rem 0.3125rem;
}
.bookmark_icon,.eye_icon{
    font-size: 1rem;
    border-radius: 50%;
    border: 0.0625rem solid rgba(100, 100, 100, 0.151);
    padding: 0.625rem;
    color: var(--main_color);
    cursor: pointer;
    transition: all .3s;
}
.bookmark_icon:hover,.eye_icon:hover{
    background-color: var(--main_color);
    color: white;
}
.bookmark_icon{
    padding: 0.625rem 0.75rem;
}
.job_name{
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--font_color);
}
.job h4{
    color:var(--font_color);
    font-size:1.125rem;
    font-weight: 600;
    font-family: var(--jakarta);
    margin: 0.625rem 0;

}
.job p{
    font-size: 0.875rem;
    color: var(--dark_white);
    font-weight: 600;
    margin-bottom: 1.875rem;
}
.location_icon{
    margin-right:0.125rem;
    color: var(--main_color);
}

.info span{
    font-size: 0.8125rem;
    color: var(--dark_white);
}
.job_footer{
    border-top: 0.0625rem solid rgb(220, 217, 217);
    padding-top: 0.625rem;
    margin-top: 0.625rem;
}
.job_footer h6{
    margin: 0;
    font-size: 1.25rem;
    color: var(--main_color);
    font-weight: 6  00;
}
.salary_per_h{
    color: var(--dark_white);
    font-weight: 400;
    font-size: 1rem;
}
.delete_post{
    color: red !important;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (min-width:1200px) and (max-width:1300px) {
    .header_container{
        margin-top: 0.625rem;
    }
    
 }
@media screen and (max-width:260px) {
    .job_icons{
       display:none;
    }
 }