.photo_container{
    width: 7.5rem;
    border-radius:50%;
}
.photo_container img{   
    width: 100%;
    border-radius: 50%;
}

.employee{
    display:flex;
}
.employee_content{
    margin-left: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.employee_content h3{
    color: var(--font_color);
    font-size: 1.5625rem;
    font-weight: 700;
}
.employee_content h4{
    font-size: 1.25rem;
    font-weight: 600;
}
.table_cell{
    margin: 20px 0;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
.type span{
    background-color: var(--vanilla);
    padding: 5px;
    border-radius: 10px 0 10px 0;
}
.table_btn{
    text-align: center;
}

.photo_container_table{
    width: 50px;
    border-radius: 10%;
    margin-right: 10px;
}
.photo_container_table img{
    width: 100%;
    border-radius: 10%;
}
.info_table{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}
.accepted_employee_controllers{
    font-size: 23px;
    margin-inline: 10px;
}

@media screen and (max-width:768px) {
    .photo_container{
        width: 9.375rem;
    }
}
@media screen and (max-width:570px) {
   .show_profile_btn{
     margin-left: auto;
     margin-top: 0.625rem;
   }
}
@media screen and (max-width:400px) {
    .employee_content h3{
        font-size: 1.25rem;
   }
    .employee_content h4{
        font-size: 1rem;
   }
}
