

.loading_body,.loading_two{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main_color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.loading_body{
    background-color: rgba(12, 12, 12, 0.7);
    backdrop-filter: blur(7px);
}

.loading_two{
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    color: var(--main_color);
    font-size: 3.125rem;
}