.main_style{
    border-radius: 1.875rem;
    padding:1.5625rem 2.5rem;
    margin: 2.5rem 0;
    background-color: white;
    position: relative;
}
.contact_info_section{
    height: 30vh;
    transition: all .5s;
}
.contact_info_section.main_style_spread{
    height: 75vh;
}
.sec_title{
    color: var(--font_color);
    font-size: 1.5625rem;
    font-weight: 700;
    margin-left: 0.625rem
}
.contact_info_body{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1.25rem;
    overflow: hidden;
    position: relative;
}
.contact_info_body_header ul li{
    margin: 0.3125rem 0;
}
.list_icon{
    color: var(--main_color);
    margin-right: 0.3125rem;
}
.show_more_btn{
    color: var(--main_color);
    margin-left: 0.625rem;
    background-color: transparent;
}
.info_tail_li{
    display: flex;
    flex-direction: column;
    margin: 0.625rem 0;
}
.info_tail_li_title{
    font-size: 0.875rem;
    color: var(--dark_white);
}
.contact_info_body_tail{
    padding: 0.625rem 0;
    border-radius: 1.875rem;
    margin-top: 0.625rem;
    background-color: var(--vanilla);
    position: absolute;
    left: 0;
    transform: translateX(-150%);
    transition: all .5s;
}
.contact_info_body_tail.showContactInfo{
    position: unset;
    transform: translateX(0);
}
.contact_info_img{
    width:50%;
}


/* ____________________________________About________________________________________________________________ */

.about_sec{
    overflow: hidden;
    position: relative;
}

.about_p{
    font-size: 0.9375rem;
    margin-top: 0.9375rem;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.about_p:hover{
    -webkit-line-clamp: unset;
    white-space: normal;
    overflow: visible;
}


/* ____________________________________education_sec________________________________________________________________ */
.education_sec ul{
    margin-top: 1.875rem;
}
.education_sec ul li{
    display: flex;
}
.education_logo{
    width: 4.375rem;
    margin-right: 0.625rem;
}
.education_caption h3{
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
}
.education_caption span{
    display: block;
}
.education_grade{
    font-weight: 700;
    font-size: 0.9375rem;
}

/* ____________________________________skills________________________________________________________________ */

.skill{
    background-color: var(--vanilla);
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    min-width: 5rem;
    text-align: center;
    position: relative;
}
.red_circle,.yellow_circle,.green_circle{
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.125rem;
    border-radius: 50%;
}
.red_circle{
    background-color: red;
}
.yellow_circle{
    background-color: orange;

}
.green_circle{
    background-color: rgb(7, 176, 7);
}
.expert{
    border: 1px solid rgb(7, 176, 7);
}
.medium{
    border: 1px solid orange; 

}
.low{
    border: 1px solid red; 
}
.skill_color{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 0.625rem 0.625rem 0;
}

/* ____________________________________contact_______________________________________________________________ */
.contact_links_container{
    background-color: var(--darker_main_color);
}
.contact_links{
    margin: 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contact_links svg{
    font-size: 40px;
    color:white;
    cursor: pointer;
    transition: all .5s;
}
.contact_links svg:hover{
    transform: translateY(-0.625rem);
}





@media screen and (max-width:1178px) {
    .contact_info_img{
        width:70%;
    } 
}
@media screen and (max-width:885px) {
    .contact_info_img{
        width:100%;
    } 
    .education_logo{
        width: 8.125rem;
    }
}
@media screen and (max-width:770px) {
    .contact_info_container{
        display: none !important;
    } 
    .contact_info_section.main_style_spread{
        height:65vh !important;
    }
}
@media screen and (max-width:485px) {
  .education_logo{
        width: 12.5rem;
    }
}
@media screen and (max-width:350px) {
    .main_style{
        padding-inline: 5px;
    }
    .main_style.main_style_spread{
        height: 100vh;
    }
}
@media screen and (max-width:220px) {
    .contact_info_section.main_style_spread{
        height:70vh !important;
    }
}