.side_bar,.side_bar_dark{
    background-color:rgb(224, 224, 224);
    padding: 1.25rem 0;
    padding-bottom: 0;
    color:  var(--font_color) !important;
    border-radius: 2.5rem 0 0 2.5rem;
}
.side_bar_dark{
    background-color: black;
}
.logo{
    width: 11.25rem;
}
.header{
    border-bottom: 0.0625rem solid #2b2b2b2f;
}

.subscribe_container{
    background-color: transparent !important;
    border: 0.0625rem solid var(--dark_white) !important;
    padding: 0 !important;
    position: relative;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.subscribe_container input{
    background-color: transparent;
    border: none;
    outline: none;
    width:80%;
    padding:0.625rem;
    height: 100%;
    color:  var(--font_color);
}

.search_icon{
    position: absolute;
    right: 6%;
    top: 50%;
    transform: translate(-6%,-50%);
    color: var(--main_color);
    font-size: 1.25rem;
    font-weight: 700;
}

.slide_footer{
    font-size: 0.9375rem;
}
.contact_list{
    text-align: start;
    padding-inline: 0;
}
.contact_list_item{
   border-bottom: #2525252f 0.0625rem solid;
   padding: 0.9375rem 0;
   cursor: pointer;
   transition: transform .3s;
}
.contact_list_item a{
    color:  var(--font_color);
    font-weight: 700;
    transition: color .3s;
}   
.contact_list_item:hover{
    transform: translateX(0.625rem);
}
.contact_list_item:hover a{
   color: var(--main_color);
}

@media screen and (max-width:538px) {
    .side_bar_signing_btns{
        display: flex !important;
    }
}