.side_bar{
    padding: 1.25rem 0;
    padding-bottom: 0;
    color:  var(--font_color) !important;
    border-radius: 2.5rem 0 0 2.5rem;
}
.logo{
    width: 11.25rem;
}
.header{
    border-bottom: 0.0625rem solid #2b2b2b2f;
}
.slide_footer{
    font-size: 0.9375rem;
}
.contact_list{
    text-align: start;
    padding-inline: 0;
}
.contact_list_item{
   border-bottom: #2525252f 0.0625rem solid;
   padding: 0.9375rem 0;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   transition: transform .3s;
}
.list_icons{
    font-size: 1.5625rem;
    margin-right: 0.9375rem;
    color:var(--dark_white)
}
.contact_list a{
    color:  var(--font_color);
    font-weight: 700;
    transition: color .3s;
}   
.contact_list_item:hover{
    transform: translateX(0.625rem);
}
.contact_list a:hover .contact_list_item{
   color: var(--main_color);
}
.contact_list_item:hover .list_icons{
    color:var(--main_color) ;
}

@media screen and (max-width:538px) {
    .side_bar_signing_btns{
        display: flex !important;
    }
}