.search_container{
    background-color: transparent !important;
    border: 0.0625rem solid var(--dark_white) !important;
    border-right: none !important;
    padding: 0 !important;
    position: relative;
    border-radius: 0.625rem;
    min-width: 18.75rem;
}
.search_container input{
    background-color: transparent !important;
    border: none;
    outline: none;
    width:100%;
    padding:0.625rem;
    height: 100%;
    color:  var(--font_color);
}

.search_icon{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    width: 3.125rem;
    height: 100%;
    border-radius:0 0.625rem  0.625rem 0;
    cursor: pointer;
    background-color: var(--main_color);
    border: none;
    transition: all .3s;
}
.search_icon:hover{
    background-color: var(--darker_main_color);
}

@media screen and (max-width:313px) {
    .search_container{
     min-width:100%;
     margin: auto;
    }
 }
