.side_bar{
    padding: 1.25rem 0;
    padding-bottom: 0;
    color:var(--font_color) !important;
    border-radius: 2.5rem 0 0 2.5rem;
}

.profile_icon{
    font-size: 45px;
    color: var( --light);
    margin-right: 0.5rem;
    transition: all .3s;
}
.profile_pic{
    width: 4.6875rem;
    height: 4.6875rem;
    border-radius: 50%;
    border: 3px solid transparent;
    transition: all .3s;
}
.profile:hover{
    border: 3px solid var(--main_color);
}
.profile_name{
    font-size: 1.4375rem;
    font-weight: 700;
    transition: color .3s;
}
.user_email{
    font-size: 0.75rem;
    color: var(--dark_white);
}
.profile_content{
    cursor: pointer;
}
.profile_content:hover .profile_icon{
    color: var(--main_color);
}
.profile_content:hover .profile_pic{
    border: 3px solid var(--main_color);
}

.header{
    border-bottom: 0.0625rem solid #2b2b2b2f;
}

.subscribe_container{
    background-color: transparent !important;
    border: 0.0625rem solid var(--main_color) !important;
    padding: 0 !important;
    position: relative;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.subscribe_container input{
    background-color: transparent;
    border: none;
    outline: none;
    width:80%;
    padding:10px;
    height: 100%;
    color:  var(--font_color);
}
.subscribe_container input::placeholder{
    color: var(--main_color);
}

.slide_footer{
    font-size: 0.9375rem;
}
.contact_list{
    text-align: start;
    padding-inline: 0;
}
.contact_list_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
   border-bottom: #2525252f 0.0625rem solid;
   padding: 0.9375rem 0;
   cursor: pointer;
   transition: transform .3s;
   overflow: hidden;
}
.contact_list_item {
    color:  var(--font_color);
    font-weight: 700;
    transition: all .3s;
}   

.contact_list_item:hover{
    color: var(--main_color);
    border-bottom-color: var(--main_color);
    transform: scale(1.03);
}
.list_icons{
    font-size: 1.5625rem;
    margin-right: 0.9375rem;
    color:var( --light)
}
.contact_list_item:hover .list_icons{
    color:var(--main_color) ;
}

