.skill_box{
    box-shadow: 0 0 0.1875rem rgba(47, 47, 47, 0.367);
    padding: 1.25rem;
    border-radius: 0.625rem;
    position: relative;
    margin: 0.625rem 0;
}
.skill_box span{
    font-size: 1.25rem;
}
.skill{
    background-color: var(--vanilla);
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 80px;
    text-align: center;
    position: relative;
}

.red{
    border: 0.0625rem solid red;
}
.yellow{
    border: 0.0625rem solid orange;
}
.green{
    border: 0.0625rem solid rgb(7, 176, 7);
}

.star{
    color: gold;
    margin-inline: 5px;
}

/* ------------------------------------------skill job post----------------------------------------------- */
.post_skill{
    background-color: var(--main_color);
    padding:10px;
    border-radius: 5px;
    min-width: 80px;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.208);
    cursor: pointer;
    position: relative;
}
.post_skill span{
    color: white !important;
    font-weight: 500;
}

.trash{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--vanilla);
    opacity: 0;
    font-size: 18px;
    transition: all .3s;
}
.trash:hover{
   color: red;
   scale: 1.1;
}
.post_skill:hover .trash{
    opacity: 1;
}