.modal_container{
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,.4);
}
.modal_body,.modal_header{
    background-color:white;
}
.modal_body{
    border-radius: 0 0 10px 10px;
}

/* _________________________shiow questions___________________________________ */

.question{
    margin: 30px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.232);
    padding: 10px;
    border-radius: 10px;
}
