.company_info_container{
    margin-top: 40px;
    margin-bottom: 50px;
    background-color: white;
    min-height: 100vh;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.31);
    overflow: hidden;   
}
.main_title{
    font-size: 20px;
    font-weight: 700;
}

.company_old_logo{
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.268);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company_old_logo label{
    border-radius: 10px;
    margin:0;
}
.company_old_logo img{
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}
.change_logo_btn,.delete_btn{
    border: 1px solid var(--main_color);
    color: var(--main_color);
    padding: 10px;
    border-radius: 5px;
    min-width: 120px;
    font-weight: 600;
    transition: all .4s;
}

.delete_btn{
    border: 1px solid var(--font_color);
    color: var(--font_color);
    opacity: .7;

}
.delete_btn:hover{
    color: red;
    border: 1px solid red;
    opacity: 1;
    scale: 1.1;
}
.change_logo_btn:hover{
    border: 1px solid transparent;
    color: white;
    background-color: var(--main_color);
    scale: 1.1;
}

.company_old_cover,.company_no_cover{
    width:90%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company_old_cover label{
    width: 100%;
    border-radius: 10px;
    margin:0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}
.company_old_cover label img{
    border-radius: 10px;
    width: 100%;
}
.cover_section{
    padding: 20px 0;
    border-top: 1px solid rgb(212, 212, 212);
}

.company_no_cover label{
    margin: 0;
    cursor: pointer;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.284);
    border: 1px solid var(--main_color);
}
.company_no_cover label img{
    width: 18.75rem;
    border-radius: 10px;
}


.save_btn{
    background-color: var(--main_color);
    color: white;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.9375rem;
    font-weight: 700;
    transition:all .3s;
    min-width: 9.375rem;
}
.save_btn:hover{
    background-color: rgb(9, 75, 161);
    transform: translateX(5px);
}

@media screen and (max-width:270px) {
    .btns{
        flex-direction: column;
        align-items: center;
    }
    .btns button{
        margin: 5px 0 !important;
    }
    
}