.field{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    width: 100%;
    position: relative;
}
.field label{
    font-weight: 700;
    margin-bottom: 0.3125rem;
}

.disabled_faild{
    color: var(--dark_white);
    opacity: .7;
}
.collection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collection .field{
    width: 49%;
}
.founded {
    border-radius: 5px;
    padding: 6px 5px;
}
.save_btn{
    background-color: var(--main_color);
    color: white;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.9375rem;
    font-weight: 700;
    min-width: 6.875rem;
    transition:all .3s;
    min-width: 9.375rem
}
.save_btn:hover{
    background-color: rgb(9, 75, 161);
    transform: translateX(0.3125rem);
}

.thumb_icon{
    position: absolute;
    right:20px;
    top: 60%;
    color: red;
}
.text_area_desc{
    width: 100%;
    margin-top: 0.625rem;
}
.text_area_desc textarea{
    border-radius: 0.625rem;
    width: 100%;
    padding: 0.625rem;
    outline: none;
    border: 0.0625rem solid rgb(162, 162, 162);
}
.user_general_info .field{
    margin-bottom: 30px;
}

.check_field{
    font-size: 18px;
    padding: 0 !important;
}

.check_field input{
    padding: 12px 25px;
}
.checks{
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.399);
    padding: 20px 10px;
    border-radius: 10px;
}
.select_title{
    background-color: var(--vanilla);
    font-weight: 700;
}

.delete_btn{
    min-width: 120px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--font_color);
    color: var(--font_color);
    opacity: .7;
    transition: all .3s;

}
.delete_btn:hover{
    color: red;
    border: 1px solid red;
    opacity: 1;
    transform: translateX(-5px);
}
/* -----------------------------career--------------------------------------- */
.career_label{
    color: var(--dark_white);
    font-size: 1rem;
    font-weight: 600 !important;
    padding: 0.625rem;
    border-radius: 0.625rem;
    border: 0.0625rem solid rgb(201, 201, 201);
    color: var(--font_color);
    min-width:12.5rem;
    text-align: center;
    cursor: pointer;
    transition: all .4s !important;
}
.career_label:hover{
   scale: 1.05;
}
.select_group{
    width: 100%;
}
.field h4{
    font-size: 1.25rem;
    font-weight: 700;
}
.checks_group{
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.263);
    padding: 1.25rem;
    border-radius: 0.625rem;
    margin: 1.875rem 0;
}
.select_category{
    width: 90%;
}

@media screen and (max-width:37.5rem) {
    .field h4{
        margin: 0;
        text-align: center;
    }
}


@media screen and (max-width:250px) {
    .collection{
        flex-wrap: wrap;
    } 
    .collection div{
        width: 100%;
    }
    .career_label{
        min-width:100%;
    }
}