.field{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.field label{
    font-weight: 700;
    margin-bottom: 5px;
}
.disabled_faild{
    color: var(--dark_white);
    opacity: .7;
}
.collection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collection div{
    width: 49%;
}

.save_btn{
    background-color: var(--main_color);
    color: white;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.9375rem;
    font-weight: 700;
    transition:all .3s;
}
.save_btn:hover{
    background-color: rgb(9, 75, 161);
    transform: translateX(5px);
}
.empty_field{
    border: 1px solid rgb(165, 165, 165)
}
.text_area_desc{
    width: 100%;
    margin-top: 10px;
}
.text_area_desc textarea{
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(162, 162, 162);
}

@media screen and (max-width:250px) {
    .collection{
        flex-wrap: wrap;
    } 
    .collection div{
        width: 100%;
    }
}