
.general_info_vector_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.general_info_vector{
    width:600px;
}
.general_info_vector img{
    width: 100%;
}
.seperate_form{
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.481);
   padding: 20px 10px;
   margin: 30px 0;
   border-radius: 10px;
}