@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap');
*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main_font);
}

body{
  scroll-behavior: smooth !important;
  background-color: var(--main_bg_color) !important;
  overflow-x: hidden;
}

:root{
  --main_color:rgb(0, 110, 255);
  --darker_main_color:#053b81;
  --golden:#FCA730;
  --font_color:black;
  --main_bg_color:white;
  --dark_white:rgb(129, 129, 129);
  --theme_color:white;
  --off_white:rgb(246, 242, 255);
  --sky:#F4F9FF;
  --light:rgb(93, 156, 179);
  --vanilla:rgb(236, 246, 252);
  --circle_color:rgba(0, 110, 255, 0.863);
  --main_font:'Quicksand', sans-serif;
  --jakarta:'Plus Jakarta Sans', sans-serif;
}

::-webkit-scrollbar-thumb{
  background-color: var(--main_color);
  border-radius: 0.625rem;
}   
::-webkit-scrollbar-track{
  background-color: var(--main_bg_color);
}
::-webkit-scrollbar{
  background-color: var(--main_bg_color);
  width:0.3125rem;
}

a{
  text-decoration: none !important;
}
button{
  outline: none;
  border: none;
  background-color: transparent;
}
input{
  outline: none;
  padding:8px 10px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  transition: all .4s;
}
input:focus{
  border: 1px solid var(--main_color);
  box-shadow: 0 0 5px rgba(0, 110, 255, 0.8);
}
label{
  margin-left: 5px;
  color:var(--font_color);
  font-weight: 600;
}

.special_main_color{
  color: var(--main_color);
}

ul li{
  list-style: none;
}
.swiper-pagination-bullet{
  background-color: var(--dark_white) !important;
}
.swiper-pagination-bullet-active{
  background-color: var(--main_color) !important;
}
.swiper-button-next,.swiper-button-prev{
  color: var(--main_color) !important;
  font-weight: 900;
}
.starts_color{
  color: #EFA51E;
}
.modal-content{
  background-color: transparent !important;
}
.or_span{
  position: relative;
  text-align: center;
}
.or_span::after{
  content: "";
  width: 12.5rem;
  height: 0.0625rem;
  background-color: rgb(202, 202, 202);
  position: absolute;
  top: 50%;
  left:1.25rem;
}
.or_span::before{
  content: "";
  width: 12.5rem;
  height: 0.0625rem;
  background-color: rgb(202, 202, 202);
  position: absolute;
  top: 50%;
  right:1.25rem;
}
.nav-tabs li button{
  color: var(--font_color);
  font-weight: 700;
}
.nav-tabs li .active{
  background-color: var(--main_color) !important;
  color: white !important;
}

.mini_word{
  font-size: 12px !important;
  color: var(--dark_white) !important;
  font-weight: 700;
}
select{
  border: 1px solid rgb(212, 212, 212);
  padding: 10px;
  border-radius: 10px;
}


@media screen and (max-width:768px) {
  body,html{
    font-size: 14px;
  }
}
@media screen and (max-width:450px) {
  .swiper-button-next,.swiper-button-prev{
   display: none !important;
  }
}
