@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main_font);
}

body{
  scroll-behavior: smooth !important;
  background-color: var(--main_bg_color) !important;
  overflow-x: hidden;
}

:root{
  --main_color:#7428c5;
  --golden:#EFA51E;
  --font_color:black;
  --main_bg_color:rgb(250, 250, 250);
  --dark_white:rgb(129, 129, 129);
  --theme_color:white;
  --main_font:'Quicksand', sans-serif;
  --jakarta:'Plus Jakarta Sans', sans-serif;
}

::-webkit-scrollbar-thumb{
  background-color: var(--main_color);
  border-radius: 0.625rem;
}   
::-webkit-scrollbar-track{
  background-color: var(--main_bg_color);
}
::-webkit-scrollbar{
  background-color: var(--main_bg_color);
  width:0.3125rem;
}

a{
  text-decoration: none !important;
}
button{
  outline: none;
  border: none;
}
.special_main_color{
  color: var(--main_color);
}
ul li{
  list-style: none;
}






@media screen and (max-width:768px) {
  body,html{
    font-size: 14px;
  }
}
