.header_container,.header_container_no_cover{
    width: 100%;
    min-height: 50vh;
    border-radius: 2.5rem;
    margin-bottom: 3.125rem;
    margin-top: 0.75rem;
    position: relative;
    border: 1px solid rgb(220, 220, 220);
}

.header_container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;
    object-fit: cover;
}

.header_container_no_cover{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_container_no_cover img{
    width: 25rem;
}

.ediet_cover_btn{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  var(--off_white);
    position: absolute;
    top: 7%;
    right: 3%;
    font-size: 1.25rem;
    background-color: var(--main_color);
    border: 0.0625rem solid transparent;
    cursor: pointer;
    transition: all .3s;
}
.ediet_cover_btn:hover,.ediet_profile_pic_btn:hover{
    color: var(--main_color);
    background-color: var(--off_white);
    border: 0.0625rem solid rgb(215, 214, 214);
}
.header_links{
    margin-left: auto;
    position: absolute;
    bottom: 0;
    right: 5%;
    padding:0.625rem;
    padding-top: 0;
    transform: translateY(100%);
}
.header_links ul{
    margin: 0;
    border:0.0625rem solid rgb(219, 219, 219) ;
    border-top: none;
    border-radius:0 0 0.3125rem 0.3125rem;
    padding: 0.625rem;
    background-color: var(--vanilla);
}
.header_links ul a li{
    margin-inline:2.5rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: var(--font_color);
    transition: all .3s;
}
.header_links ul li svg{
    margin-right: 0.5rem;
    color: var(--main_color);
}
.header_links ul a li:hover{
    transform: translateY(-0.125rem);  
}

/* case user */
.profile_pic{
    width: 8.125rem;
    height: 8.125rem;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 10%;
    transform: translateY(50%);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.profile_pic img{
    object-fit: cover;
    border-radius: 50%;
}

/* case company */
.profile_pic_company{
    width: 9.375rem;
    height: 9.375rem;
    position: absolute;
    bottom: 0;
    left: 10%;
    border-radius: 0.625rem;
    transform: translateY(50%);
    box-shadow: 0 0 0.1875rem rgba(0, 0, 0, 0.5);
}
.cartoona{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}
.profile_pic_company .cartoona{
    border-radius: 0.625rem !important;
}
.profile_pic_company img{
    object-fit: cover;
    border-radius: 0.625rem;
}

.ediet_profile_pic_btn{
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--off_white);
    position: absolute;
    bottom:0;
    right: 0;
    font-size: 0.9375rem;
    background-color: var(--main_color);
    border: 0.0625rem solid transparent;
    cursor: pointer;
    transform: translate(-20%,-20%);
    opacity: 0;
    transition: all .4s;
}

.cartoona:hover .ediet_profile_pic_btn{
    opacity: 1;
}

.sub_header{
    padding: 1.25rem 0.625rem;
    position: relative;
}
.contact_info{
    margin-left:3.125rem;
    padding-left:0.625rem
}
.sub_header div h3{
    font-size: 2.1875rem;
    font-weight: 700;
    color: var(--font_color);
    margin: 0;
}
.sub_header div{
    font-size: 1rem;
    color: var(--dark_white);
    font-weight: 700;
}
.company_info{
   align-items:space-around;
   padding-top: 1.25rem;
   padding-left: 3.125rem;
}
.company_info div{
    padding-left: 0.625rem;
}
.resume_div{
    border: 0.0625rem dotted var(--main_color);
    border-radius: 0.625rem;
    padding: 0.625rem 0.9375rem;
}
.resume_div span{
    color: var(--font_color);
    font-size: 1rem;
}
.view_cv,.delete_cv{
    cursor: pointer;
    transition: all .3s;
}
.delete_cv{
    opacity: .6;
}
.delete_cv:hover{
    color:red;
    opacity: 1;
}
.delete_cv:hover svg{
    transition: color .3s;
}
.delete_cv:hover svg{
    color:red;
}
.view_cv:hover{
    color: var(--main_color);
}

.contact_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3125rem 0.625rem 1.25rem 0.3125rem;
}
.contact_icon{
    font-size: 1.5625rem;
    margin-inline: 0.625rem;
    color: var(--dark_white);
    cursor: pointer;
    transition: all .5s;
}
.contact_icon:hover{
    color: var(--font_color);
    transform: translateY(-0.625rem);
}

@media screen and (max-width:1040px) {
  .header_links{
    margin: 0;
    padding: 0;
  }
  .header_links ul{
    padding: 0.3125rem;
}
.header_links ul a li{
    margin-inline:0.9375rem;
}
}

@media screen and (max-width:957px) {
    .contact_info{
        margin: 0 !important;
    }
}


@media screen and (max-width:768px) {
    .header_links{
      display: none;
    }
  }

@media screen and (max-width:400px) {
   .ediet_section_btn{
    top: -1.25rem;
    right: 0;
   }
   .contact_info h3{
     font-size: 1.875rem !important;
}
.contact_info span{
    font-size: 0.75rem;
}
.contact_info{
    padding: 0 !important;
}
.company_info{
    padding-top: 1.25rem !important;
}  
}


@media screen and (max-width:335px)
{
.links_and_cv{
    flex-wrap: wrap;
}
.contact_icons{
    margin-left: auto;
    margin-top:0.625rem;
}
}