.job_filters{
    background-color: var(--sky);
    border-radius: 10px;
    padding: 10px;
    min-height: 150vh;
}
.filter_icon{
    font-size: 25px;
    color: var(--dark_white);
    padding-bottom: 5px;
}
.filter_list{
    padding-inline: 0;
    font-weight: 600;
}

.more{
    color: var(--dark_white);
    font-size: 14px;
    font-weight: 600;
}
.filter_list li , .more{
    cursor: pointer;
    padding: 3px 0;
    transition: color .3s;
}
.filter_list li:hover{
    color: var(--main_color);
}

.more:hover{
    color: var(--main_color);
}
.num_span{
    font-size: 10px;
    color: var(--dark_white);
}

.job_posts{
    padding: 5px 0;
 }
 .job_posts h2,.job_filters div h2{
     font-weight: 700;
     padding: 10px;
 }
.subscribe_container{
    background-color: transparent !important;
    border: 0.0625rem solid var(--dark_white) !important;
    padding: 0 !important;
    position: relative;
    border-radius: 10px;
}
.subscribe_container input{
    background-color: transparent;
    border: none;
    outline: none;
    width:80%;
    padding:0.625rem;
    height: 100%;
    color:  var(--font_color);
}

.search_icon{
    position: absolute;
    right: 6%;
    top: 50%;
    transform: translate(-6%,-50%);
    color: var(--main_color);
    font-size: 1.25rem;
    font-weight: 700;
}