.about_header{
    height: 40vh;
    width: 100vw;
    background-image: url(../../images/aboutCover.jpg);
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}
.header_layer{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* -----------------------------------------------------about_title----------------------------------------------- */

.about_title{
    width: 80%;
    margin-bottom: 3.125rem;
    margin-top: 2.5rem;
    margin-inline: auto;
    padding: 3.125rem;
    border-radius: 0.625rem;
    text-align: center;
    background-color: #365be1;
    color: white;
}
.about_title h1{
    font-weight: 700;
    font-size: 3.125rem;
}
.about_title p{
    color:rgb(237, 236, 236);
    padding-inline: 2.5rem;
    font-size: 0.9375rem;
    font-weight: 700;
}

/* -----------------------------------------------------team member----------------------------------------------- */
.memeber{
    padding:1.875rem 3.125rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 0.125rem rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
}
.member_header{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.625rem;
}
.member_title{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
.member_title h4{
    margin: 0;
    font-size:1.6875rem;
    font-weight: 700;
    margin-bottom: 0.1875rem;
}
.member_title span{
    color: var(--main_color);
    font-size: 0.75rem;
    font-weight: 700;
}
.img_side{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.9375rem;
}
.member_img{
    border-radius: 50%;
    width: 140px;
}
.member_img img{
    width: 100%;
    border-radius: 50%;
}
.memeber p{
    width: 100%;
    margin: 1.25rem 0;
    text-align: end;
}
.icons {
    display: flex;
    justify-content: end;
}
.icons svg{
    font-size: 1.5625rem;
    margin-inline: 1.25rem;
    color: #73757A;
    cursor: pointer;
    transition: all .5s;
}
.icons svg:hover{
    color: var(--main_color);
    transform: translateY(-0.5rem);
}
.member_right{
    flex-direction: row-reverse;
}
.member_right .img_side{
    margin-left: 0;
    margin-right: 0.9375rem;
}
.member_right .icons{
    justify-content: start;
}
.member_right .member_title{
    align-items: flex-start;
}
.member_right p{
    text-align: start;
}

/* ________________________________________counter_________________________________________________________ */

.counter{
    background-color: var(--vanilla);
    margin: 3.125rem 0;
    padding: 1.25rem 0.625rem;
}
/* ________________________________________location_________________________________________________________ */
.ourLocation{
    height: 60vh;
    width: 98vw;
    margin: 3.125rem auto;
}

@media screen and (max-width:991px) {
    .memeber{
        flex-direction: row-reverse;
    }
    .memeber .img_side{
        margin-left: 0;
        margin-right: 0.9375rem;
    }
    .memeber .icons{
        justify-content: start;
    }
    .memeber .member_title{
        align-items: flex-start;
    }
    .memeber p{
        text-align: start;
    }

}


@media screen and (max-width:595px) {
   .about_title{
    padding-inline: 5px;
    width: 98vw;
   }
}

@media screen and (max-width:390px) {
    .memeber{
        flex-direction: column-reverse;
    }
    .img_side{
        margin: 0;
        margin-bottom: 10px;
    }
    .member_header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.625rem;
    }
    .member_title{
        align-items: center !important;
    }
}