.numbersSpeeks {
    background-image: url("../../images/about-bg.jpg");
    background-size: 100% 100%;
    min-height: 70vh;
}

.container {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

.header {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

.header .title h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
}

.header .subTitle p,
.elements .element p {
    text-align: center;
    font-size: 1.2rem;
    color: #73757A;
}

.elements {
    margin: auto;
    width: 90%;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 25px;
}

.element {
    width: 25%;
    text-align: center;
}

.elements .borderRight {
    border-right: #e2e1e1 solid 1px;
}

.elements .element h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
}

.elements .box_one_border,
.box_two_border,
.box_three_border {
    border-right: #e2e1e1 solid 1px;
}

.description {
    min-height: 60vh;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

.descContainer {
    width: 75%;
    margin: auto;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.accordionTitle {
    font-size: 3.8rem;
    font-style: italic;
}

/* how it works section  */
.howItWorks{
    min-height: 80vh
}
.secondHeader{
    padding-bottom: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondHeader .secondTitle h1{
    text-align: center;
    font-weight: bolder;
    font-size: 3.3rem;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: bolder;
}

.line{
    width: 25%;
    height: 2px;
    background-color: #d1d1d3;
}
.secondContainer{
    margin-top: 2rem;
}
.steps{
    width: 80%;
    margin: auto;
    position: relative;
    text-align: center;
}
.step_item{
    width: 100%;
    min-height: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
.circleCheck_icon{
    font-size: 4rem;    
    color: #8322C1;
    margin-bottom: 2rem;
}

@media screen and (max-width:991px) {
    .elements .element h2 {
        text-align: center;
        font-weight: bolder;
        font-size: 2rem;
    }

    .elements .box_two_border {
        border: none;
    }

    .elements .box_one_border,
    .box_three_border {
        border-right: #e2e1e1 solid 1.5px;
    }

    .elements .mediumScreen {
        margin: auto;
        width: 65%;
        border-bottom: #e2e1e1 solid 1.5px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width:767px) {

    .elements .box_one_border,
    .box_two_border,
    .box_three_border{
        border-right: none;
    }
    .elements .special_border{
        margin: auto;
        width: 65%;
        border-bottom: #e2e1e1 solid 1.5px;
        margin-bottom: 12px;
    }
}