
.category_item{
    border: 0.0625rem solid var(--main_color);
    padding:5px; 
    border-radius: 0.5rem;
    color: var(--font_color);
    text-align: center;
}
.category_container{
    min-height: 50vh;
}
.category_container h4{
    font-size: 28px;
    font-weight: 700;
}
.filter_indusrty{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.227);
}
.filter_indusrty h4{
    font-size: 25px;
    font-weight: 600;
}
.filter_indusrty ul{
    padding: 0;
}
.industry_list_item{
    padding: 20px 5px;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s;
}
.industry_list_item:hover{
    scale: 1.02;
    background-color: var(--vanilla);
}
.industry_name{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}
