
.category_item{
    border: 1px solid rgb(223, 223, 223);
    padding: 5px; 
    border-radius: 10px;
    background-color: var(--vanilla);
    color: var(--font_color);
    margin: 10px;
    text-align: center;
}
.number_categories{
    font-size: 18px;
    color: var(--dark_white);
    background-color: var(--vanilla);
    border-radius: 50%;
    padding: 5px 12px;
    border: 1px solid rgb(223, 223, 223) ;
}