.job_filters{
    background-color: var(--vanilla);
    border-radius: 0.625rem;
    padding: 0.625rem;
    min-height: 220vh;
}
.filter_icon{
    font-size: 1.25rem;
    margin-right: 0.625rem;
    color: var(--main_color);
    padding-bottom: 0.3125rem;
}
.filter_list{
    padding-inline: 0;
    font-weight: 600;
}
.checkbox_type{
    margin-right: 0.625rem;
}
.more{
    color: var(--dark_white);
    font-size: 0.875rem;
    font-weight: 600;
}
.filter_list li{
    margin-bottom: 0.5rem;
}
.filter_list li label, .more{
    cursor: pointer;
    padding: 0.1875rem 0;
    transition: color .3s;
}

.filter_list li:hover label{
    color: var(--main_color);
}

.more:hover{
    color: var(--main_color);
}
.num_span_dev{
    background-color: var(--vanilla);
    min-width: 1.875rem;
    text-align: center;
    border-radius: 1.25rem;
}
.num_span{
    font-size: 0.625rem;
    font-weight: 700;
}
/* ____________________________job posts side_____________________________________ */
.job_posts{
    padding: 0.3125rem 0;
 }
 .job_posts h2,.job_filters div h2{
     font-weight: 700;
     padding: 0.625rem;
 }


.page_num{
    background-color: var(--vanilla);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition:   background-color .3s;
}
.page_num h5{
    text-align: center;
    font-weight: 700;
    color: var(--main_color);
    margin: 0;
    transition: color .3s;
}
.page_arrow{
    font-weight: 700;
    border-radius: 50%;
    background-color: var(--vanilla);
    padding: 0.625rem 0.9375rem;
    cursor: pointer;
    color: var(--main_color);
    transition: transform .5s;
}

.page_num:hover{
    background-color: var(--main_color);
}
.page_num:hover h5{
    color: white;
}
.arrow_left:hover{
    transform: translateX(-0.625rem);
}
.arrow_right:hover{
    transform: translateX(0.625rem);
}


@media screen and (max-width:575px) {
    .aside_container{
        display: none;
    }
}
