.register_form{
    padding:0.9375rem 1.25rem;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.register_form label{
    text-align: start;
    margin-bottom: 0.1875rem;
}
.register_btn{
    width: 80%;
    background-color: var(--darker_main_color);
    color: white;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.9375rem;
    margin: 0.625rem 0;
    transition: background-color .3s;
}
.register_btn:hover{
    background-color:rgb(1, 80, 182);
}
.sign_company_p{
    display: none;
    font-size: 0.875rem;
    font-weight: 700;
}
@media screen and (max-width:972px) {
    .register_form div{
        margin:0 !important;

    }
    .name_faild{
        flex-wrap: wrap;
    }
    .lname,.fname{
        margin-inline: 0 !important;
        width: 100% !important;
    }
}

@media screen and (max-width:500px) {
    .register_form div{
        margin:0.3125rem 0 !important;
    }
    .sign_company_p{
        display: block;
        margin-top: 0.625rem;
    }
}