.mainStyle{
    background-color: rgb(244, 231, 255);
    padding-left: 3.25rem;
    padding-right: 3.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.mainStyle li{
    color: black;
    list-style-type: none ;
}